---
import Estrutura from "../layouts/Estrutura.astro";
import Carros from "../components/Carros.astro"
---

<Estrutura>
	<h1>Selecione o Carro</h1>
	<Carros />
</Estrutura>

<style>
	h1{
		font-size: 32px;
		font-weight: bold;
	}
</style>