---
import Image from "astro/components/Image.astro";

import ImgCarro from "/public/images/corolla.png"

---
<div>
    <div class="foto">
        <Image src={ImgCarro} alt="Toyota Corrola" />
    </div>
    <div class="conteudo">
        <div class="cima">
            <div class="nome-carro">
                <h3>Toyota Corolla</h3>
                <p>Sedan Medio</p>
            </div>
            <div class="valor-diario">
                <h4>R$ 93,00</h4>
                <p>valor diário</p>
            </div>
            <div class="diarias">
                <h4>01</h4>
                <p>dia(s)</p>
            </div>
            <div class="valor-total">
                <h4>R$ 93,00</h4>
                <p>Valor total</p>
            </div>
        </div>
        <div class="baixo">
            
        </div>
    </div>
</div>

<style>

</style>