---
---

<div>
    <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M8 1.48437C8.46581 1.48437 8.92707 1.57612 9.35742 1.75438C9.78778 1.93264 10.1788 2.19392 10.5082 2.5233C10.8376 2.85268 11.0989 3.24371 11.2771 3.67407C11.4554 4.10443 11.5471 4.56568 11.5471 5.0315V5.65054H4.45287V5.0315C4.45287 4.09074 4.82658 3.18851 5.4918 2.5233C6.15701 1.85808 7.05924 1.48437 8 1.48437Z" stroke="#F79F11" stroke-miterlimit="10"/>
        <path d="M13.3981 14.5156H2.58955C2.29895 14.5156 2.02025 14.4001 1.81476 14.1946C1.60928 13.9891 1.49384 13.7104 1.49384 13.4198C1.49076 13.3642 1.49076 13.3084 1.49384 13.2527L2.4224 7.15511C2.48546 6.73142 2.70051 6.34515 3.02742 6.06835C3.35433 5.79156 3.77078 5.64315 4.19906 5.65083H11.7886C12.2168 5.64315 12.6333 5.79156 12.9602 6.06835C13.2871 6.34515 13.5022 6.73142 13.5652 7.15511L14.5062 13.2527C14.5092 13.3084 14.5092 13.3642 14.5062 13.4198C14.5062 13.5648 14.4774 13.7083 14.4216 13.842C14.3658 13.9758 14.2839 14.0971 14.1809 14.199C14.0778 14.301 13.9556 14.3814 13.8212 14.4357C13.6868 14.4901 13.543 14.5172 13.3981 14.5156Z" stroke="#F79F11" stroke-miterlimit="10"/>
        <path d="M3.63239 7.99997H12.3524" stroke="#F79F11" stroke-miterlimit="10"/>
        <path d="M10.1686 10.179V7.99997" stroke="#F79F11" stroke-miterlimit="10"/>
        </svg>
        
</div>